#game {
    height: 100%;
    display: none;
}

#playerStats {
    flex: 17%;
    background-color: #2D2C27;
}

#gameZone {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    flex: 83%;
}

#miniMap {
    z-index: 3;
    top: 0;
    left: 0;
    position: absolute;
    height: 150px;
    width: 150px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas: ". . ." ". . ." ". . .";
}