#game {
    height: 100%;
    display: none;
}

#playerStats {
    flex: 17%;
    background-color: #2D2C27;
}

#gameZone {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    flex: 83%;
}