.wall {
    background-color: rgb(126, 50, 0);
}

.emptyCell {
    background-color: rgb(47, 191, 43);
}

.emptyCell:hover {
    background-color: aquamarine;
}

.cell {
    display: flex;
    width: 100px;
    height: 100px;
}

.roomRow {
    display: flex;
    height: 100px;
    box-sizing: border-box;
}

.player {
    width: 80%;
    height: 80%;
    background-color: aqua;
    border-radius: 50%;
}


/*.losange {
    width: 0;
    height: 0;
    border: 50px solid transparent;
    border-bottom: 25px solid;
    border-bottom-color: red;
    position: absolute;
}

.losange:after {
    content: '';
    position: absolute;
    top: 25px;
    left: -50px;
    width: 0;
    height: 0;
    border: 50px solid transparent;
    border-top: 25px solid red;
}*/

#gameViewZoneIso {
    width: 100%;
}

.losange {
    height: 10%;
    width: 10%;
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}

.triRow {
    display: flex;
    height: 100px;
    box-sizing: border-box;
}