.wall {
    background-color: rgb(126, 50, 0);
}

.emptyCell {
    background-color: rgb(47, 191, 43);
}

.emptyCellC:hover {
    background-color: aquamarine;
}

#gameIsoView {
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

#gameIsoClickable {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    transform: rotateX(60deg) rotateZ(45deg);
    z-index: 20;
}

:root {
    --img-size-x: 100px;
    --img-size-y: 50px;
}

.row {
    display: flex;
    position: absolute;
    left: calc(50% - calc(var(--img-size-x) / 2 * var(--rowNbx)));
    top: calc(var(--img-size-y) / 2 * var(--rowNby));
}

.grassIso {
    width: 100px;
}


/*#gameIsoView {
    transform: rotateX(60deg) rotateZ(45deg);
}

#gameIsoClickable {
    position: absolute;
    transform: rotateX(60deg) rotateZ(45deg);
    z-index: 20;
}

.roomRow {
    display: flex;
    height: 50px;
    box-sizing: border-box;
}

.cell {
    display: flex;
    width: 50px;
    height: 50px;
}

.player {
    transform: translate(-50%, -50%);
    position: absolute;
    height: 85px;
}

#player {}*/